.bg-gray-100 {
  background-color: #f7f7f7;
}

.text-primary {
  color: #3b5998;
}

.bg-primary {
  background-color: #3b5998;
}

.bg-primary-dark {
  background-color: #2d4373;
}

.text-black {
  color: #000;
}

.text-gray-500 {
  color: #6b7280;
}

.text-gray-900 {
  color: #111827;
}

.focus\:ring-primary {
  box-shadow: 0 0 0 3px rgba(59, 89, 152, 0.5);
}
