<div *ngIf="modalVisible" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="absolute inset-0 bg-black opacity-70"></div>
  <div class="bg-gray-900 text-white rounded-lg shadow-lg p-8 z-10 max-w-md w-full">
    <h2 class="text-2xl font-bold mb-4">Resumen de Retiro</h2>
    <div *ngIf="withdrawalSuccess; else errorTemplate">
      <p class="mb-4">Has solicitado retirar: <strong>{{ amount | currency:'USD' }}</strong></p>
      <p class="mb-4">Billetes entregados:</p>
      <ul class="list-disc pl-5 mb-6">
        <li *ngIf="result?.billetes['100k'] > 0">100k: {{ result?.billetes['100k'] }}</li>
        <li *ngIf="result?.billetes['50k'] > 0">50k: {{ result?.billetes['50k'] }}</li>
        <li *ngIf="result?.billetes['20k'] > 0">20k: {{ result?.billetes['20k'] }}</li>
        <li *ngIf="result?.billetes['10k'] > 0">10k: {{ result?.billetes['10k'] }}</li>
      </ul>
      <p class="text-sm text-gray-400">Gracias por usar nuestro servicio.</p>
    </div>
    <ng-template #errorTemplate>
      <p class="mb-6 text-red-500">No es posible retirar el monto solicitado.</p>
    </ng-template>
    <div class="flex justify-end">
      <button (click)="closeModal()" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition">Cerrar</button>
    </div>
  </div>
</div>
