<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cajero Automático</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 flex justify-center items-center min-h-screen">
<div class="bg-gray-800 rounded-lg shadow-xl p-6 md:p-10 w-full max-w-lg">
  <div class="text-white text-center mb-8">
    <h1 class="text-2xl md:text-3xl font-extrabold tracking-wider">Cajero Automático</h1>
    <p class="mt-3 text-gray-300">Seleccione un valor o ingrese otro monto</p>
  </div>

  <!-- Display de la cantidad seleccionada -->
  <div class="bg-gray-700 text-white text-center text-xl md:text-2xl py-4 rounded-lg mb-8">
    <span id="display-amount">{{ selectedAmount | currency:'USD':'symbol':'1.0-0' }}</span>
  </div>

  <!-- Opciones de retiro centradas -->
  <div class="flex flex-wrap justify-center gap-4 md:gap-6 mb-10">
    <button (click)="selectAmount(50000)" class="bg-gray-600 text-white py-2 px-4 md:py-3 md:px-6 rounded-lg hover:bg-yellow-500 transition focus:outline-none focus:ring focus:ring-yellow-500">
      $50,000
    </button>
    <button (click)="selectAmount(100000)" class="bg-gray-600 text-white py-2 px-4 md:py-3 md:px-6 rounded-lg hover:bg-yellow-500 transition focus:outline-none focus:ring focus:ring-yellow-500">
      $100,000
    </button>
    <button (click)="selectAmount(300000)" class="bg-gray-600 text-white py-2 px-4 md:py-3 md:px-6 rounded-lg hover:bg-yellow-500 transition focus:outline-none focus:ring focus:ring-yellow-500">
      $300,000
    </button>
    <button (click)="selectAmount(500000)" class="bg-gray-600 text-white py-2 px-4 md:py-3 md:px-6 rounded-lg hover:bg-yellow-500 transition focus:outline-none focus:ring focus:ring-yellow-500">
      $500,000
    </button>
    <button (click)="selectAmount(1000000)" class="bg-gray-600 text-white py-2 px-4 md:py-3 md:px-6 rounded-lg hover:bg-yellow-500 transition focus:outline-none focus:ring focus:ring-yellow-500">
      $1,000,000
    </button>
  </div>

  <!-- Campo de entrada de otro valor abajo -->
  <div class="mb-10">
    <label for="custom-amount" class="text-white text-lg block text-center mb-3">Otro valor:</label>
    <input #customAmountInput id="custom-amount" type="number" placeholder="$0" class="w-full px-4 py-3 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring focus:ring-yellow-500" (input)="onInputChange($event)">
  </div>

  <!-- Botones de acción centrados en la parte inferior -->
  <div class="flex flex-col md:flex-row justify-center space-y-4 md:space-y-0 md:space-x-8">
    <button (click)="calculateAndDisplayBills(selectedAmount)" class="bg-green-600 text-white py-3 px-10 rounded-lg text-lg font-bold hover:bg-green-500 transition focus:outline-none focus:ring focus:ring-green-500">
      Continuar
    </button>
    <button (click)="signOut()" class="bg-red-600 text-white py-3 px-10 rounded-lg text-lg font-bold hover:bg-red-500 transition focus:outline-none focus:ring focus:ring-red-500">
      Cancelar
    </button>
    <button (click)="clearAmount()" class="bg-yellow-600 text-white py-3 px-10 rounded-lg text-lg font-bold hover:bg-yellow-500 transition focus:outline-none focus:ring focus:ring-yellow-500">
      Borrar
    </button>
  </div>
</div>

<app-receipt-cash></app-receipt-cash>
</body>
</html>
